*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0;
    border: 0;
    background-color: #cccccc;
}

p{
    text-align: center;
}
em strong{
    color: blue;
}