*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

#banner{
   width: 100%;
}

h1{
    text-align: center;
    height: 150px;
    border: 10px solid black;
    padding: 20px;

}

p{
    text-align: center;
}
en strong{
    color: blue;
}