.header{
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.header-menu-options{
    text-align: center;
}

.header-menu-item{
    display: inline-block;
    margin: 0 2rem 2rem 0;
}
.header-menu-item a{
    color: #ffffff;
    padding:1rem;
    background: rgba(0,0,0,0.1);
    border-radius:10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 1s;
}
.header-menu-item a:hover{
    background-color: rgba(50, 241, 194, 0.5);
}

.header-jumbotron{
    text-transform: uppercase;
    padding: 0 0 2rem 0;
    text-align: center; 
}
.panel-main{
    color: #ffffff;
    text-shadow: 4px 4px 10px  #262626;
}
.jumbotron-title{
    font-size:3.5rem;
}
.jumbotron-subtitle{
    color:  #64ff64;
    font-size: 2.5rem;
    margin-top:10px;
}
.header-jumbotron .button{
    display:inline-block;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #48A3A6;
}
.panel-subscribe{
    margin-top:1rem;
}
@media (min-width: 768px){
    .jumbotron-title{
        font-size:4.5rem;
    }
    .jumbotron-subtitle{
        font-size: 3rem;
    }
}